USE [master]
GO
/****** Object:  Database [KasCoffee]    Script Date: 8/8/2024 11:01:24 AM ******/
CREATE DATABASE [KasCoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KasCoffee_Data', FILENAME = N'c:\dzsqls\KasCoffee.mdf' , SIZE = 30720KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 LOG ON 
( NAME = N'KasCoffee_Logs', FILENAME = N'c:\dzsqls\KasCoffee.ldf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KasCoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KasCoffee]
GO
/****** Object:  User [Nhom3_SQLLogin_1]    Script Date: 8/8/2024 11:01:28 AM ******/
CREATE USER [Nhom3_SQLLogin_1] FOR LOGIN [Nhom3_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Nhom3_SQLLogin_1]
GO
/****** Object:  Schema [Nhom3_SQLLogin_1]    Script Date: 8/8/2024 11:01:28 AM ******/
CREATE SCHEMA [Nhom3_SQLLogin_1]
GO
/****** Object:  FullTextCatalog [ftCatalog]    Script Date: 8/8/2024 11:01:29 AM ******/
CREATE FULLTEXT CATALOG [ftCatalog] WITH ACCENT_SENSITIVITY = ON
GO
/****** Object:  FullTextCatalog [ProductCatalog]    Script Date: 8/8/2024 11:01:29 AM ******/
CREATE FULLTEXT CATALOG [ProductCatalog] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CREATED_AT] [date] NOT NULL,
	[USER_ID] [int] NULL,
	[TOTAL_PRICE] [money] NULL,
	[RECEIVER_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[PHONE] [varchar](20) NULL,
	[STATUS] [nvarchar](30) NULL,
	[COUPON_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_DETAILS]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_DETAILS](
	[BILLDETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[BILL_ID] [int] NOT NULL,
	[PRODUCTID] [int] NULL,
	[QUANTITY] [int] NULL,
	[TOTAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[BILLDETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[CART_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART_DETAILS]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_DETAILS](
	[CART_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CART_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[UNIT_PRICE] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CART_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [nvarchar](max) NOT NULL,
	[PRODUCTDESCRIPTION] [nvarchar](max) NULL,
	[PICTURE] [nvarchar](max) NULL,
	[PROD_TYPE_ID] [int] NOT NULL,
	[UNIT_ID] [int] NOT NULL,
	[COST] [int] NOT NULL,
	[SIZE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTTYPE]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTTYPE](
	[PROD_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROD_TYPE_NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROD_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLEID] [int] NOT NULL,
	[ROLENAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[SIZE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SIZE] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIZE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[UNIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIT_NAME] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](100) NULL,
	[PHONE] [varchar](11) NULL,
	[EMAIL] [varchar](100) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[GENDER] [nvarchar](5) NULL,
	[USERNAME] [nvarchar](255) NOT NULL,
	[USERPASSWORD] [varchar](50) NULL,
	[ROLEID] [int] NULL,
	[IS_VERIFIED] [tinyint] NULL,
	[VerificationToken] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_PRODUCT_ID]    Script Date: 8/8/2024 11:01:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PRODUCT_ID] ON [dbo].[PRODUCTS]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Products_ProductID]    Script Date: 8/8/2024 11:01:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Products_ProductID] ON [dbo].[PRODUCTS]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[CART] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IS_VERIFIED]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_ACCOUNT] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_ACCOUNT]
GO
ALTER TABLE [dbo].[BILL_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_BILL] FOREIGN KEY([BILL_ID])
REFERENCES [dbo].[BILL] ([BILL_ID])
GO
ALTER TABLE [dbo].[BILL_DETAILS] CHECK CONSTRAINT [FK_CTHD_BILL]
GO
ALTER TABLE [dbo].[BILL_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[BILL_DETAILS] CHECK CONSTRAINT [FK_CTHD_PRODUCT]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_USERS]
GO
ALTER TABLE [dbo].[CART_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CART_DETAILS_CART] FOREIGN KEY([CART_ID])
REFERENCES [dbo].[CART] ([CART_ID])
GO
ALTER TABLE [dbo].[CART_DETAILS] CHECK CONSTRAINT [FK_CART_DETAILS_CART]
GO
ALTER TABLE [dbo].[CART_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CART_DETAILS_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[CART_DETAILS] CHECK CONSTRAINT [FK_CART_DETAILS_PRODUCTS]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_PRODUCTTYPE] FOREIGN KEY([PROD_TYPE_ID])
REFERENCES [dbo].[PRODUCTTYPE] ([PROD_TYPE_ID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_PRODUCTTYPE]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_SIZE] FOREIGN KEY([SIZE_ID])
REFERENCES [dbo].[SIZE] ([SIZE_ID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_SIZE]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_UNIT] FOREIGN KEY([UNIT_ID])
REFERENCES [dbo].[UNIT] ([UNIT_ID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_UNIT]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ROLES] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLES] ([ROLEID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ROLES]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([GENDER]=N'Nữ' OR [GENDER]=N'Nam'))
GO
/****** Object:  StoredProcedure [dbo].[FilterProductsByPrice]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FilterProductsByPrice]
    @PriceRange INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Dưới 25,000
    IF @PriceRange = 1
    BEGIN
        SELECT * 
        FROM Products
        WHERE Cost < 25000;
    END
    -- Từ 25,000 đến 50,000
    ELSE IF @PriceRange = 2
    BEGIN
        SELECT * 
        FROM Products
        WHERE Cost >= 25000 AND Cost <= 50000;
    END
    -- Trên 50,000
    ELSE IF @PriceRange = 3
    BEGIN
        SELECT * 
        FROM Products
        WHERE Cost > 50000;
    END
    ELSE
    BEGIN
        -- Trường hợp không hợp lệ
        RAISERROR('Invalid price range specified.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductSales]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Proc thống kê doanh thu theo số lượng bán từng sp
CREATE PROCEDURE [dbo].[GetProductSales]
    @Year INT
AS
BEGIN
    SELECT 
        p.PRODUCTNAME, 
        SUM(bd.QUANTITY) AS QuantitySold
    FROM BILL_DETAILS bd
    JOIN PRODUCTS p ON bd.PRODUCTID = p.PRODUCT_ID
    JOIN BILL b ON bd.BILL_ID = b.BILL_ID
    WHERE YEAR(b.CREATED_AT) = @Year
    GROUP BY p.PRODUCTNAME
    ORDER BY QuantitySold DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRandom8Product]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRandom8Product]
AS
BEGIN
    SELECT TOP 8 *
    FROM PRODUCTS
    ORDER BY NEWID();
END
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueByMonth]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetRevenueByMonth]
    @Year INT
AS
BEGIN
    SELECT 
        CASE MONTH(CREATED_AT)
            WHEN 1 THEN N'Tháng 1'
            WHEN 2 THEN N'Tháng 2'
            WHEN 3 THEN N'Tháng 3'
            WHEN 4 THEN N'Tháng 4'
            WHEN 5 THEN N'Tháng 5'
            WHEN 6 THEN N'Tháng 6'
            WHEN 7 THEN N'Tháng 7'
            WHEN 8 THEN N'Tháng 8'
            WHEN 9 THEN N'Tháng 9'
            WHEN 10 THEN N'Tháng 10'
            WHEN 11 THEN N'Tháng 11'
            WHEN 12 THEN N'Tháng 12'
        END AS Period, 
        SUM(TOTAL_PRICE) AS Revenue
    FROM BILL
    WHERE YEAR(CREATED_AT) = @Year
    GROUP BY MONTH(CREATED_AT)
    ORDER BY MONTH(CREATED_AT);
END
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueByQuarter]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proc thống kê doanh thu theo quý
CREATE PROCEDURE [dbo].[GetRevenueByQuarter]
    @Year INT
AS
BEGIN
    SELECT 
        DATEPART(QUARTER, CREATED_AT) AS Period, 
        SUM(TOTAL_PRICE) AS Revenue
    FROM BILL
    WHERE YEAR(CREATED_AT) = @Year
    GROUP BY DATEPART(QUARTER, CREATED_AT)
    ORDER BY Period;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueByYear]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRevenueByYear]
AS
BEGIN
    SELECT 
        YEAR(CREATED_AT) AS Period ,
        SUM(TOTAL_PRICE) AS Revenue
    FROM BILL
    GROUP BY YEAR(CREATED_AT)
    ORDER BY Period;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchProducts]    Script Date: 8/8/2024 11:01:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchProducts]
    @searchTerm NVARCHAR(255)
AS
BEGIN
    SELECT 
        PRODUCT_ID,
        PRODUCTNAME,
        PRODUCTDESCRIPTION,
        PICTURE,
        PROD_TYPE_ID,
        UNIT_ID,
        COST,
        SIZE_ID
    FROM 
        PRODUCTS
    WHERE 
        CONTAINS((PRODUCTNAME, PRODUCTDESCRIPTION), @searchTerm);
END
GO
USE [master]
GO
